@charset "UTF-8";
@media screen and (min-width: 600px) {
  .u-sp {
    display: none;
  }
}

.u-sp-up {
  display: none;
}
@media screen and (min-width: 600px) {
  .u-sp-up {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .u-tab-down {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .u-tab {
    display: block;
  }
}
@media screen and (min-width: 1200px) {
  .u-tab {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .u-tab-up {
    display: block;
  }
}

@media screen and (min-width: 1200px) {
  .u-pc-down {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .u-pc {
    display: block;
  }
}

.link-space {
  padding-top: 60px;
  margin-top: -60px;
}
@media screen and (min-width: 768px) {
  .link-space {
    padding-top: 80px;
    margin-top: -80px;
  }
}
@media screen and (min-width: 1440px) {
  .link-space {
    padding-top: 120px;
    margin-top: -120px;
  }
}

/* リキッドレイアウト対応 */
html {
  font-size: 16px;
}
@media (max-width: 375px) {
  html {
    font-size: 4.2666666667vw;
  }
}
@media screen and (min-width: 768px) {
  html {
    font-size: 1.3793103448vw;
  }
}
@media (min-width: 1160px) {
  html {
    font-size: 16px;
  }
}

/* pcの電話番号発信対応 */
@media screen and (min-width: 768px) {
  a[href^="tel:"] {
    pointer-events: none;
  }
}

/* ホバー */
a {
  text-decoration: none;
  color: inherit;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
a:hover, a:focus {
  opacity: 0.6;
}

body {
  font-family: m-plus-rounded-1c, sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #3F3F3F;
  line-height: 1.87;
  background: #FFF;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default padding */
ul,
ol {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
  width: 100%;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Blur images when they have no alt attribute */
img:not([alt]) {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="10" /></filter></svg>#filter');
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

/* フォームリセット */
input,
button,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
}

textarea {
  resize: vertical;
}

input[type=checkbox],
input[type=radio] {
  display: none;
}

input[type=submit],
input[type=button],
label,
button,
select {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

.btn {
  display: inline-block;
  width: 202px;
  width: 12.625rem;
  max-width: 100%;
  padding: 17.5px 10px;
  padding: 1.09375rem 0.625rem;
  background-color: #90C2DF;
  border: 1px solid transparent;
  color: #FFF;
  font-size: 18px;
  font-size: 1.125rem;
  text-align: center;
  text-decoration: none;
  border-radius: 2.0625rem;
}
.btn:focus, .btn:hover {
  background-color: #fff;
  border-color: currentColor;
  color: #90C2DF;
}

.card__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 3px solid #90C2DF;
  border-radius: 20px;
  width: 100%;
  height: 100px;
  -webkit-box-shadow: 10px 10px 0 rgba(0, 0, 0, .16);
          box-shadow: 10px 10px 0 rgba(0, 0, 0, .16);
  margin-bottom: 26px;
}
@media screen and (min-width: 1200px) {
  .card__head {
    height: 140px;
  }
}

.card__icon_01 {
  width: 40px;
  height: 36px;
}

.card__icon_02 {
  width: 38px;
  height: 40px;
}

.card__icon_03 {
  width: 35.3px;
  height: 40px;
}

.card__icon_04 {
  width: 27.2px;
  height: 40px;
}

.card__icon_05 {
  width: 44px;
  height: 40px;
}

.card__icon_06 {
  width: 31.2px;
  height: 40px;
}

.card__head-text {
  font-size: 24px;
  font-weight: 700;
  color: #90C2DF;
  margin-left: 40px;
}

.card__body > *:last-child {
  margin-bottom: 0;
}

.card__title-wrap {
  border-top: 3px solid #90C2DF;
  border-bottom: 3px solid #90C2DF;
  padding: 14.5px 0 16.5px 0;
  text-align: center;
  margin-bottom: 28px;
}
.card__title-wrap.text-left {
  text-align: left;
}
@media screen and (min-width: 768px) {
  .card__title-wrap.text-left {
    text-align: center;
  }
}

.card__title {
  font-size: 24px;
  font-weight: 700;
}
.card__title span {
  font-size: 16px;
  font-weight: 400;
}
.card__title span.card__title_sm {
  font-size: 12px;
  letter-spacing: normal;
}

.card__title_md {
  font-size: 20px;
}

.card__content {
  margin-bottom: 22px;
}

.card__text {
  line-height: 1.8;
}
.card__text.space_sm {
  letter-spacing: -0.03em;
}
@media screen and (min-width: 600px) {
  .card__text.space_sm {
    letter-spacing: normal;
  }
}

.card__content_ex {
  border: 1px dashed #90C2DF;
  width: 100%;
  padding: 9px 7px;
}

.card__footer {
  margin-bottom: 12px;
}

.card__label:not(:last-of-type) {
  margin-right: 17px;
}

.card__footer-notice {
  font-size: 14px;
}

.cards {
  max-width: 500px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .cards {
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.cards__item {
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .cards__item {
    width: calc(50% - 25px);
    margin-right: 50px;
    max-width: 100%;
  }
  .cards__item:nth-of-type(2n) {
    margin-right: 0;
  }
}
@media screen and (min-width: 1200px) {
  .cards__item {
    width: calc(33.33333% - 46.66667px);
    margin-right: 70px;
  }
  .cards__item:nth-of-type(2n) {
    margin-right: 70px;
  }
  .cards__item:nth-of-type(3n) {
    margin-right: 0;
  }
}

/* 電話発信の指定 */
.cta-tel {
  cursor: pointer;
  /* md以上電話発信なし */
}
@media screen and (min-width: 1200px) {
  .cta-tel {
    cursor: default;
  }
  .cta-tel a[href^="tel:"] {
    pointer-events: none;
  }
}

.cta-tel__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cta-tel__icon {
  width: 25px;
  width: 1.5625rem;
  height: 25px;
  height: 1.5625rem;
}

.cta-tel__text {
  font-size: 22px;
  font-size: 1.375rem;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 14px;
  margin-bottom: 0.875rem;
}

.cta-tel__text_sm {
  font-size: 12px;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1;
  margin-left: 15px;
  margin-left: 0.9375rem;
}

.js-drawer-icon {
  position: fixed;
  top: 52px;
  right: 16px;
  z-index: 40;
  -webkit-transition: -webkit-transform ease 0.5s 0s;
  transition: -webkit-transform ease 0.5s 0s;
  transition: transform ease 0.5s 0s;
  transition: transform ease 0.5s 0s, -webkit-transform ease 0.5s 0s;
  display: block;
}
@media screen and (min-width: 768px) {
  .js-drawer-icon {
    right: 25px;
  }
}
@media screen and (min-width: 1200px) {
  .js-drawer-icon {
    display: none;
  }
}
.js-drawer-icon.is-active .js-drawer-icon__bar1 {
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  top: 9.9px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.js-drawer-icon.is-active .js-drawer-icon__bar2 {
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  top: 9.9px;
  display: none;
}
.js-drawer-icon.is-active .js-drawer-icon__bar3 {
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  top: 9.9px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.js-drawer-icon.is-active .js-drawer-icon__bar1,
.js-drawer-icon.is-active .js-drawer-icon__bar2,
.js-drawer-icon.is-active .js-drawer-icon__bar3 {
  background: #3F3F3F;
}

/* barがはいる箱 */
.js-drawer-icon__bars {
  width: 27px;
  height: 16px;
  display: block;
  position: relative;
}

/* それぞれのbarの線分を作る */
.js-drawer-icon__bar1,
.js-drawer-icon__bar2,
.js-drawer-icon__bar3 {
  width: 27px;
  height: 1px;
  background: #3F3F3F;
  position: absolute;
  top: 0;
  left: 0;
}

.js-drawer-icon__bar1 {
  top: 0;
}

.js-drawer-icon__bar2 {
  top: 8px;
}

.js-drawer-icon__bar3 {
  top: 16px;
}

/* ドロワーメニュー全体の箱 */
.js-drawer-content {
  width: 100%;
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  background: #FFF;
  z-index: 39;
  -webkit-transform: translateX(105%);
          transform: translateX(105%);
  -webkit-transition: -webkit-transform ease 0.5s 0s;
  transition: -webkit-transform ease 0.5s 0s;
  transition: transform ease 0.5s 0s;
  transition: transform ease 0.5s 0s, -webkit-transform ease 0.5s 0s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.js-drawer-content.is-active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.js-drawer-content__items {
  padding-top: 24px;
  text-align: center;
}

.js-drawer-content__item {
  margin-bottom: 48px;
}
.js-drawer-content__item:nth-child(4) {
  margin-bottom: 51px;
}
@media screen and (min-width: 768px) {
  .js-drawer-content__item {
    margin-bottom: 60px;
  }
}

.js-drawer-content__link {
  color: #3F3F3F;
  font-size: 20px;
  font-weight: 400;
  display: block;
}
@media screen and (min-width: 768px) {
  .js-drawer-content__link {
    font-size: 24px;
  }
}

.js-drawer-tel {
  padding: 22px 21px 14px 23px;
  background: #E7F6FF;
  border-radius: 10px;
}

.js-drawer-tel__text {
  font-size: 21px;
}
@media screen and (min-width: 768px) {
  .js-drawer-tel__text {
    font-size: 24px;
  }
}

.js-drawer-tel__text_sm {
  margin-left: 5px;
}

.global-nav {
  display: none;
}
@media screen and (min-width: 1200px) {
  .global-nav {
    display: block;
    height: 120px;
  }
}

.global-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: inherit;
}

.global-nav__item {
  height: inherit;
}
.global-nav__item:not(:last-child) {
  margin-right: 26px;
}

.global-nav__link {
  font-size: 18px;
  font-weight: 400;
  display: block;
}
@media screen and (min-width: 1200px) {
  .global-nav__link {
    line-height: 120px;
  }
}

.header {
  background: #FFF;
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 20;
  height: 120px;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
@media screen and (min-width: 1200px) {
  .header {
    height: 120px;
  }
}
.header.change-color {
  background: rgba(255, 255, 255, .8);
}

.header__inner {
  width: 100%;
  padding-right: 16px;
  padding-left: 16px;
  margin-right: auto;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: inherit;
}
@media screen and (min-width: 768px) {
  .header__inner {
    max-width: 80%;
    padding-right: 25px;
    padding-left: 25px;
  }
}
@media screen and (min-width: 1200px) {
  .header__inner {
    width: 98.92307%;
    max-width: 1286px;
    padding-right: 25px;
    padding-left: 25px;
  }
}

.header__logo {
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.header__logo a {
  display: inline-block;
  line-height: 120px;
}
@media screen and (min-width: 1200px) {
  .header__logo {
    margin-right: 1rem;
  }
}

.header-tel {
  display: none;
  margin-left: auto;
}
@media screen and (min-width: 1200px) {
  .header-tel {
    display: block;
  }
}

.header__btn-box {
  margin-left: 20px;
  margin-left: 1.25rem;
}

.header__btn {
  display: none;
}
@media screen and (min-width: 1200px) {
  .header__btn {
    display: block;
    width: 11.25rem;
  }
}
@media screen and (min-width: 1250px) {
  .header__btn {
    width: 12.625rem;
  }
}

.inner {
  width: 100%;
  padding-right: 16px;
  padding-left: 16px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .inner {
    max-width: 1210px;
    padding-right: 25px;
    padding-left: 25px;
  }
}

.label {
  display: inline-block;
  padding: 0.6em 0.6em;
  background-color: #90C2DF;
  color: #FFF;
  font-size: 16px;
  font-size: 1rem;
  font-weight: 400;
}

.logo {
  font-size: 24px;
  font-size: 1.5rem;
  color: #90C2DF;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .logo {
    font-size: 1.6875rem;
  }
}
@media screen and (min-width: 1250px) {
  .logo {
    font-size: 1.875rem;
  }
}

.sub-title {
  font-size: 20px;
  font-weight: 500;
  padding-left: 14.5px;
  position: relative;
}
.sub-title::before {
  width: 5px;
  height: 25px;
  background: #90C2DF;
  border-radius: 100vh;
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.title {
  font-size: 30px;
  font-weight: 700;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 1;
}
.title::after {
  width: 50px;
  height: 3px;
  background: #90C2DF;
  border-radius: 100vh;
  content: "";
  position: absolute;
  top: 41px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

/* レイアウト */
.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 1;
}

.main {
  background-image: url(../../../images/main/main-sp.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 120px;
  height: 673px;
}
@media screen and (min-width: 600px) {
  .main {
    background-image: url(../../../images/main/main.jpg);
    background-position: 68% center;
    height: 750px;
  }
}
@media screen and (min-width: 1200px) {
  .main {
    background-position: center center;
    height: 958px;
    margin-top: 120px;
  }
}

.main__inner {
  padding-top: 39.7%;
}
@media screen and (min-width: 850px) {
  .main__inner {
    padding-top: 312px;
  }
}
@media screen and (min-width: 1200px) {
  .main__inner {
    padding-top: 433px;
  }
}

.main__content {
  text-align: center;
}

.main__title {
  color: #ffffff;
  font-size: 30px;
  font-weight: 400;
  text-shadow: 0 3px 6px rgba(0, 0, 0, .16);
  line-height: 1.7;
}
@media screen and (min-width: 1200px) {
  .main__title {
    font-size: 40px;
    line-height: 1;
    margin-bottom: 18px;
  }
}

.main__text {
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
  text-shadow: 0 3px 6px rgba(0, 0, 0, .16);
}
@media screen and (min-width: 1200px) {
  .main__text {
    font-size: 30px;
  }
}

.service {
  background: #E7F6FF;
  padding-top: 106px;
}
@media screen and (min-width: 1200px) {
  .service {
    padding-top: 104px;
  }
}

.service__bg {
  background: url(../../../images/service/service-bg_sp.png) no-repeat center center/cover;
  width: 100%;
}
@media screen and (min-width: 1200px) {
  .service__bg {
    background: url(../../../images/service/service-bg_pc.png) no-repeat center center/cover;
  }
}

@media screen and (min-width: 768px) {
  .service__inner {
    max-width: 800px;
  }
}
@media screen and (min-width: 1200px) {
  .service__inner {
    max-width: 1210px;
    padding-right: 25px;
    padding-left: 25px;
  }
}

.service__title {
  margin-bottom: 39px;
}
@media screen and (min-width: 1200px) {
  .service__title {
    margin-bottom: 45px;
  }
}

.service__sub-title {
  max-width: 500px;
  margin: 0 auto;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .service__sub-title {
    max-width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .service__sub-title {
    margin-bottom: 24px;
  }
}

.service__notice {
  font-size: 18px;
  line-height: 1.7;
  max-width: 500px;
  margin: 0 auto;
  margin-bottom: 47px;
}
@media screen and (min-width: 768px) {
  .service__notice {
    max-width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .service__notice {
    text-align: center;
    margin-bottom: 61px;
  }
}
/*# sourceMappingURL=styles.css.map */
