@use "global" as *;
.access {
  margin-bottom: 74px;

  @include mq('lg') {
    margin-bottom: 45px;
  }
}

.access__inner {
  max-width: 500px;

  @include mq('md') {
    max-width: 800px;
  }

  @include mq('lg') {
    max-width: 100%;
    width: 987px;
  }
}

.access__title {
  margin-bottom: 50px;

  @include mq('lg') {
    margin-bottom: 60px;
  }
}

.access-wrap {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0;

  @include mq('lg') {
    grid-template-columns: 560px 1fr;
    grid-template-rows: auto 1fr;
    column-gap: 26px;
  }
}

.access__map {
  flex: 0 1 560px;
  height: 260px;
  margin-bottom: 26px;

  @include mq('md') {
    height: 426px;
  }
  
  @include mq('lg') {
    margin-bottom: 0;
    grid-area: 1 / 1 / 2 / 2;
  }

  iframe {
    width: 100%;
    height: 100%;
  }
}

.access__address {

  @include mq('lg') {
    grid-area: 1 / 2 / 2 / 3;
    margin-top: 25px;
  }
}

.access__address-content {
  margin-bottom: 30px;
}

.access__address-row {

  &:not(:last-of-type) {
    margin-bottom: 20px;

    @include mq('lg') {
      margin-bottom: 30px;
    }
  }

  dd {
    color: #8FC2DF;
  }
}

.access__link-box {
  text-align: center;

  @include mq('lg') {
    text-align: left;
  }
}

/* ボタンの大きさの指定 */
.access__link {
  width: 227px;
}