@use "global" as *;
.main {
  width: 100%;
  height: 673px;
  margin: 0 auto;
  margin-top: $header-height-sp;
  overflow: hidden;
  position: relative;

  @include mq('md') {
    height: 750px;
  }
      
  @include mq('lg') {
    margin-top: $header-height-pc;
    height: 958px;
  }
}

.main__inner {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 84%;
  margin: 0 auto;

  @media screen and (min-width: 700px) {
    top: 50%;
  }
  
  @include mq('lg') {
    top: 52%;
  }
}

.main__content {
}

.main__title {
  color: #ffffff;
  font-size: 30px;
  font-weight: $font-normal;
  text-shadow: 0 3px 6px rgba(0, 0, 0, .16);
  line-height: 1.7;
  text-align: center;
  
  @include mq('lg') {
    font-size: 40px;
    line-height: 1;
    margin-bottom: 18px;
  }
}         

.main__text {
  color: #ffffff;
  font-size: 20px;
  font-weight: $font-normal;
  text-shadow: 0 3px 6px rgba(0, 0, 0, .16);
  text-align: center;

  @include mq('lg') {
    font-size: 30px;
  }
}

/* テキスト影濃いめパターン */
.main__title {
  text-shadow: 0 0 6px rgba(0,0,0,0.6);
}         

.main__text {
  text-shadow: 0 0 6px rgba(0,0,0,0.6);
}

