/* リキッドレイアウト対応 */
@use "global" as *;

html {
  //~375px
  @media (max-width: 375px) {
    font-size: vw(375, 16);
  }

  //375px~787px
  font-size: 16px;

  @include mq("md") {
    font-size: vw(strip-unit($inner), 16);
  }

  //inner~max-screen
  @media (min-width: $inner) {
    font-size: 16px;
  }
}

/* pcの電話番号発信対応 */
a[href^="tel:"] {
  @include mq("md") {
    pointer-events: none;
  }
}

/* ホバー */
a {
  text-decoration: none;
  color: inherit;
  transition: all 0.5s ease 0s;
  
  &:hover,
	&:focus {
		opacity: $hover-opacity;
	}
}

body {
  font-family: $font-family-base;
	font-size: $font-size-base;
	font-weight: $font-weight-base;
	color: $color-text-base;
	line-height: $line-height-base;
	background: $color-bg-base;
}

