@use "sass:math";

// インナー幅
$inner: 1160px;

// 余白
$padding-pc: 25px;
$padding-tab: 24px;
$padding-sp: 16px;

// ヘッダー高さ
$header-height-pc: 120px;
$header-height-sp: 120px;

// フォント
$font-family-default: m-plus-rounded-1c, sans-serif; 
$font-family-base: $font-family-default;
$font-size-base: 16px;
$font-weight-base: 400;
$line-height-base: 1.87;

// フォントウェイト
$font-normal: 400;
$font-medium: 500;
$font-bold: 700;

//ラインハイト
$leading-none: 1;
$leading-tight: 1.5;
$leading-snug: 1.6;
$leading-normal: 1.7;
$leading-relaxed: 1.8;

// 色
$color-main: #90C2DF; //メイン色
$color-bg-base: #FFF; //ベース背景色
$color-bg-accent: #E7F6FF; //背景アクセント色
$color-text-base: #3F3F3F; //メインテキスト色
$hover-opacity: 0.6; //透過度

// 階層
$layer-modal: 100;
$layer-drawer: 40;
$layer-floating: 30;
$layer-header: 20;
$layer-footer: 10;
$layer-default: 1;

//ブレイクポイント
$breakpoints: (
  sm: 600,
  md: 768,
  lg: 1200,
  xl: 1440,
);

//メディアクエリー
$mediaquerys: (

  sm-down: "screen and (max-width: #{map-get($breakpoints,'sm')-1}px)",
  sm: "screen and (min-width: #{map-get($breakpoints,'sm')}px)",
  md-down: "screen and (max-width: #{map-get($breakpoints,'md')-1}px)",
  md: "screen and (min-width: #{map-get($breakpoints,'md')}px)",
  lg: "screen and (min-width: #{map-get($breakpoints,'lg')}px)",
  xl: "screen and (min-width: #{map-get($breakpoints,'xl')}px)",
);

@mixin mq($mediaquery: md) {
  @media #{map-get($mediaquerys, $mediaquery)} {
    @content;
  }
}

// remへの計算式（16pxを基準としている。10pxを基準とする場合は16を10に変更する）
@function rem($pixels) {
  @return math.div($pixels, 16) * 1rem;
}

// 非表示

.u-sp {
  @include mq('sm') {
    display: none;
  }
}

.u-sp-up {
  display: none;

  @include mq('sm') {
    display: block;
  }
}

.u-tab-down {
  display: none;
  @include mq('md') {
    display: none;
  }
}

.u-tab {
  display: none;
  @include mq('md') {
    display: block;
  }

  @include mq('lg') {
    display: none;
  }
}

.u-tab-up {
  @include mq('md') {
    display: block;
  }
}

.u-pc-down {
  display: block;

  @include mq('lg') {
    display: none;
  }
}

.u-pc {
  display: none;

  @include mq('lg') {
    display: block;
  }
}

// リンク位置調整
.link-space {
  padding-top: 60px;
  margin-top: -60px;
  
  @include mq('md') {
    padding-top: 80px;
    margin-top: -80px;
  }
  
  @include mq('xl') {
    padding-top: 120px;
    margin-top: -120px;
  }
}

