@use "global" as *;
.btn {
	display: inline-block;
	width: rem(202);
	max-width: 100%;
	padding: rem(17.5) rem(10);
	background-color: $color-main;
	color: #FFF;
	font-size: rem(18);
	text-align: center;
	text-decoration: none;
	border-radius: rem(33);
	
	&:focus,
	&:hover {
		border: 1px solid currentColor;
		background-color: #fff;
		color: $color-main;
	}
}