@use "global" as *;
.btn {
	display: inline-block;
	width: 202px;
	max-width: 100%;
	padding: 18.5px 10px;
	border: 1px solid transparent;
	background-color: $color-main;
	color: #FFF;
	font-size: 18px;
	text-align: center;
	text-decoration: none;
	border-radius: 33px;
	
	&:focus,
	&:hover {
		border: 1px solid currentColor;
		background-color: #fff;
		color: $color-main;
	}
}

/* 色反転 */
.btn_blue {
	background: $color-bg-base;
	color: $color-main;
	border: 1px solid currentColor;
	font-size: 16px;

	&:focus,
	&:hover {
		border: 1px solid transparent;
		background-color: $color-main;
		color: $color-bg-base;
	}
}