@use "global" as *;

.header {
	background: pink;
	//background: $color-bg-base;
	padding: 0;
	position: fixed; 
	top: 0;
	left: 0;
	width: 100%; //positionすると浮いて幅がなくなるのを解消する
	z-index: $layer-header;
	height: $header-height-sp;
	transition: all 0.5s ease 0s;

	@include mq('lg') {
		height: $header-height-pc;
	}

	&.change-color {

		@include mq('lg') {
				background: rgba(#ffffff, 0.8);
		}
	}
}

.header__inner {
	width: 100%;
	padding-right: $padding-sp;
	padding-left: $padding-sp;
	margin-right: auto;
	margin-left: auto;
	display: flex;
	align-items: center;
	height: inherit;

	@include mq('md') {
    max-width: 80%;
    padding-right: $padding-pc;
    padding-left: $padding-pc;
	}

	@include mq('lg') {
		width: 98.92307%;
		max-width: 1286px;
		padding-right: $padding-pc;
		padding-left: $padding-pc;
	}
}

.header__logo {
	transition: all 0.5s ease 0s;
	
	a {
		display: inline-block;
		line-height: $header-height-sp;
	}

	@include mq('lg') {
		margin-right: rem(16);
	}
}

.header-tel {
	display: none;
	margin-left: auto;

	@include mq('lg') {
		display: block;
	}
}

.header__btn-box {
	margin-left: rem(20);
}

.header__btn {
	display: none;

	@include mq('lg') {
		display: block;
		width: rem(180);
	}

	@media screen and (min-width: 1250px) {
		width: rem(202);
  }
}