@use "global" as *;
.logo {
  font-size: rem(24);
  color: $color-main;
  font-weight: $font-bold;

  @include mq('md') {
    font-size: rem(27);
  }
  @media screen and (min-width: 1250px) {
    font-size: rem(30);
  }
}

/* footer用 */
.logo_footer {
  color: #FFFFFF;
  font-size: 26px;

  @include mq('lg') {
    font-size: 35px;
  }
}