@use "global" as *;
.logo {
  font-size: rem(24);
  color: $color-main;
  font-weight: $font-bold;

  @include mq('md') {
    font-size: rem(27);
  }
  @media screen and (min-width: 1250px) {
    font-size: rem(30);
  }
}