@use "global" as *;
.logo {
  font-size: 24px;
  color: $color-main;
  font-weight: $font-bold;

  @include mq('md') {
    font-size: 27px;
  }

  @include mq('lg') {
    font-size: 30px;    
  }
}

/* footer用 */
.logo_footer {
  color: #FFFFFF;
  font-size: 26px;

  @include mq('lg') {
    font-size: 35px;
  }
}